@model List<TaskWeb.Models.Tag>

<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    </head>
    <body class="container-fluid">
        <h1>Lista de Tags</h1>
        <p>@Model.Count</p>

        <table class="table table-hover">

            @foreach(var tag in Model) {
            <tr>
                <td>@tag.TagId</td>
                <td>@tag.Title</td>
                <td><a href="/tag/delete/@tag.TagId">Apagar</a></td>
                <td><a href="/tag/update/@tag.TagId">Editar</a></td>
            </tr>
            }

        </table>

        <a class="btn btn-primary" href="/tag/create">Adicionar</a>
    </body>
</html>