<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <title>Criar Orçamento</title>
    </head>
    <body class="container">
        <h1>Novo Orçamento</h1>
        <hr/>
        <form action="/orcamento/criar" method="POST">
            <h2>Dados Cliente</h1>
            <hr/>
            <label>Nome: </label>
            <input name="NomeCli" class="form-control"/><br/>

            <label>Telefone:</label>
            <input name="TelefoneCli" class="form-control"/><br/>

            <label>Celular:</label>
            <input name="CelularCli" class="form-control"/><br/>

            <label>Rua:</label>
            <input name="Rua" class="form-control"/><br/>

            <label>Bairro:</label>
            <input name="Bairro" class="form-control"/><br/>

            <label>Número:</label>
            <input name="Numero" class="form-control"/><br/>

            <label>Cidade:</label>
            <input name="Cidade" class="form-control"/><br/>

            <label>UF:</label>
            <input name="UF" class="form-control"/><br/>
            
            <h2>Dados Veículo</h1>
            <hr/>
            
            <label>Placa:</label>
            <input name="Placa" class="form-control"/><br/>

            <label>Marca:</label>
            <input name="Marca" class="form-control"/><br/>

            <label>Modelo:</label>
            <input name="Modelo" class="form-control"/><br/>

            <label>Cor:</label>
            <input name="Cor" class="form-control"/><br/>

            <label>Ano:</label>
            <input name="Ano" class="form-control"/><br/>
            
            <h2>Dados Serviço </h1>
            <hr/>

            <label>Descrição:</label>
            <input name="Descrição" class="form-control"/><br/>
            <button class="btn btn-primary">Salvar</button>
        </form>
    </body>
</html>