@model List<AfReparosAutomotivos.Models.OrcamentoViewModel>

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Orçamentos</title>
    </head>
    <body>
        <table class="table table-hover">

            @foreach(var orcamento in Model) {
            <tr>
                <td>@orcamento.NomeCli</td>
                <td>@orcamento.Modelo</td>
            </tr>
            }

        </table>
    </body>
</html>