@{
    ViewData["Title"] = "Página Inicial";
}

<div class="container hero-section">
    <div class="hero-content">
        <!-- Imagem -->
        <img src="~/images/logo-af-reparos.png" alt="Logo empresa af-reparos-automotivos" width=50" height=50"/>

        <!-- Linha divisória -->
        <div class="divider"></div>

        <!-- Texto -->
        <div class="text-content">
            <h1>‘A SEGURANÇA ESTÁ ALÉM DA LATARIA BONITA’</h1>
            <br />
            <p>
                Desde 2021 realizando reparos automotivos para diversos tipos de automóveis, sempre focando na excelência.<br><br>
                Acreditamos que a organização e eficiência sejam chaves para a integridade com nossos clientes.<br><br>
                Por isso, agora nossos orçamentos são armazenados e criados por essa plataforma.
            </p>
        </div>
    </div>
</div>

